﻿@using Ricsman.Mvc.Helpers;
@model Ricsman.Mvc.ViewModels.FacturaViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.IfBeginPanelGeneric(12,"Factura")) 
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })    
    <br />   
    <br/>
    @Html.IfTextBoxFor(model => model.Subtotal, true, 3)
    @Html.IfTextBoxFor(model => model.Moneda, true, 3)
    <br />
    <br />
    @Html.IfTextBoxFor(model => model.Igv, true, 3)
    @Html.IfTextBoxFor(model => model.Total, true, 3)
    <br />
    <br />
    @Html.IfTextBoxCustomerNameFor(model => model.IdProveedor, "Proveedor", true, 3)
    @Html.IfDatetimeFor(model => model.FechaFac, true, 3)
    <br />
    <br />
    @Html.IfDatetimeFor(model => model.FecVencimiento, true, 3)
    @Html.IfTextBoxFor(model => model.IdSubProy, true, 3)
    <br />
    <br />
  
    @Html.IfTextBoxFor(model => model.MedCanc, true, 3)
    @Html.IfTextBoxFor(model => model.NumCheq, true, 3)
    <br />
    <br />

    <hr />
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>Cod</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Producto 01</td>
                <td>26/10/2016</td>
                <td><a href="#" class="btn"><i class="glyphicon glyphicon-plus"></i></a></td>
            </tr>
            <tr>
                <td>002</td>
                <td>Producto 02</td>
                <td>26/10/2016</td>
                <td><a href="#" class="btn"><i class="glyphicon glyphicon-plus"></i></a></td>
            </tr>
            <tr>
                <td>003</td>
                <td>Producto 03</td>
                <td>26/10/2016</td>
                <td><a href="#" class="btn"><i class="glyphicon glyphicon-plus"></i></a></td>
            </tr>
            <tr>
                <td>004</td>
                <td>Producto 04</td>
                <td>26/10/2016</td>
                <td><a href="#" class="btn"><i class="glyphicon glyphicon-plus"></i></a></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    @Html.HiddenFor(model => model.IdFactura)
        <div class="form-group">
            <div class="col-md-offset-3 col-md-3">
                <input type="submit" value="Guardar" class="btn btn-primary guardar" />
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
   
}

