﻿@using Ricsman.Mvc.Helpers;
@model IEnumerable<Ricsman.Entities.Factura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Nuevo Registro", "Create")
</p>
@using (Html.IfBeginPanelGeneric(12))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerieFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Igv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FechaFac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTipoFact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecVencimiento)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerieFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Igv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
          
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFac)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.RegimenTrib)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.FecVencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedCanc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumCheq)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
}
