﻿@using Ricsman.Mvc.Helpers
@model Ricsman.Mvc.ViewModels.CategoriaViewModel


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.IfBeginPanelGeneric(10)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Categoría</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCategoria)
        
        @Html.IfTextBoxCustomerNameFor(model => model.NomCategoria,"Categoría", true, 4)

        <div class="form-group">
            <div class="col-md-offset-3 col-md-3">
                <input type="submit" value="Guardar" class="btn btn-primary guardar" />
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Atras", "Index",null,new {@class="btn btn-default"})
            </div>
        </div>
    </div>
}

