﻿@using Ricsman.Mvc.Helpers;
@model IEnumerable<Ricsman.Entities.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.IfBeginPanelGeneric(10,"Lista de Categorias"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomCategoria)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomCategoria)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.IdCategoria }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdCategoria }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdCategoria })
                </td>
            </tr>
        }

    </table>
}
