﻿@using Ricsman.Mvc.Helpers;
@model IEnumerable<Ricsman.Entities.Proveedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.IfBeginPanelGeneric(10, "Lista de Proveedor"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomProveedor)
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProveedo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomProveedor)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdProveedo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdProveedo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdProveedo })
                </td>
            </tr>
        }

    </table>
}

