﻿@using Ricsman.Mvc.Helpers;
@model Ricsman.Mvc.ViewModels.ProductoViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.IfBeginPanelGeneric(10,"Producto")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
     
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        @Html.HiddenFor(model => model.IdProducto)
               
        @Html.IfTextBoxFor(model => model.CodigoProducto,  true, 5)
        @Html.IfDatetimeFor(model => model.FechaCreacion,  true, 5)
        @Html.IfTextBoxFor(model => model.DescripcionProducto, true, 5)
        @Html.IfTextBoxFor(model => model.UnidadEmpaque, true, 5)
        @Html.IfTextBoxFor(model => model.UnidadMedida, true, 5)
        @Html.IfTextBoxFor(model => model.IGV, true, 5)        
        @Html.IfTextBoxFor(model => model.IdCategoria, true, 5)
        @Html.IfTextBoxFor(model => model.CostoInventario, true, 5)
        @Html.IfTextBoxFor(model => model.CostoPomedio, true, 5)
        @Html.IfTextBoxFor(model => model.CostoActual, true, 5)
        @Html.IfTextBoxFor(model => model.CostoReal, true, 5)

        <div class="form-group">
            <div class="col-md-offset-3 col-md-3">
                <input type="submit" value="Guardar" class="btn btn-primary guardar" />
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

