﻿@using Ricsman.Mvc.Helpers;
@model IEnumerable<Ricsman.Entities.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
@using (Html.IfBeginPanelGeneric(12,"Listado de Productos"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadEmpaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadMedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IGV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IcCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoInventario)
            </th>
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadEmpaque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadMedida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IGV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IcCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoInventario)
                </td>
               
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
}
